PORT=3000
# Email — use senha de app do Gmail (não a senha normal)
# Gere em: https://myaccount.google.com/apppasswords
# verifique se você tem a verificação em duas etapas ativada, caso contrário não vai funcionar
EMAIL_USER=seu@gmail.com
EMAIL_PASS=(senha única que o gmail te passa)
EMAIL_TO=seu@gmail.com
